@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&family=Poppins:wght@400;700;800&family=Roboto+Slab&display=swap");

body {
  background-color: #131316;
  color: #ffffff;
  margin: 0;
  font-family: "Roboto Slab", serif;
  user-select: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1c1c1c;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(28, 28, 28);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-out;
  z-index: 9999;
}

.dropdown-animate {
  opacity: 1;
  transform: scaleY(1);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s, opacity 0.2s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(58, 58, 58);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show {
  display: block;
}

.dropdown-content a.animate-link {
  opacity: 1;
  transform: translateX(0);
}

.fade-out-link {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s, opacity 0.2s;
}

/*rest*/
section {
  display: grid;
  place-items: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

.custom-input {
  background-color: transparent;
  border: 2px solid wheat;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  width: 40%;
  transition: all 0.5s;
}

.custom-input-message {
  background-color: transparent;
  border: 2px solid wheat;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  text-align: start;
  font-size: 20px;
  letter-spacing: 2px;
  width: 40%;
  height: 200px;
  transition: all 0.5s;
}

.custom-input,
.custom-input-message {
  width: 60%;
}

.five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 15px;
}

.Send-btn {
  background: none;
  border: 2px solid wheat;
  color: wheat;
  padding: 10px 20px;
  font-size: 20px;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.Send-btn:hover {
  background: wheat;
  color: black;
}

.five h2 {
  margin-bottom: 10px;
}

.heading {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}

.indexHeading {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.indexHeading h1 {
  color: #5fa4ff;
  font-size: 100px;
}

h2 {
  color: #5fa4ff;
  font-size: 60px;
}

.indexHeading h3 {
  font-size: 30px;
  margin-bottom: 3%;
}

.heading img {
  width: 600px;
}

#particles-js {
  background: black;
  height: 100vh;
}

.explore-btn {
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
}

#Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exploreMore-btn {
  cursor: pointer;
}

.exploreMore-btn button {
  background: none;
  border: 2px solid wheat;
  color: wheat;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.exploreMore-btn button:hover {
  background: wheat;
  color: black;
}

.explore-btn button {
  cursor: pointer;
}

.fade-in {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.ReadMore-btn button {
  background: none;
  border: 2px solid wheat;
  color: wheat;
  padding: 10px 20px;
  font-size: 20px;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.ReadMore-btn button:hover {
  background: wheat;
  color: black;
}

.textcontainer img {
  width: 1000px;
}

.textcontainer {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}

.image-boarder {
  border: 2px solid #ffffff;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.image-boarder img {
  padding: 20px;
  width: 400px;
}

.text {
  line-height: 25px;
  word-spacing: 3.2px;
  letter-spacing: 0.8px;
  font-size: 20px;
}

.textcontainer-other img {
  width: 1000px;
}

.textcontainer-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textcontainer p {
  text-align: center;
}

.explore-btn button {
  background: none;
  border: 2px solid wheat;
  color: wheat;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.explore-btn button:hover {
  background: wheat;
  color: black;
}

.fade-in i {
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
  line-height: 0.8;
}

.explore-btn:hover .fade-in i:nth-child(1) {
  animation: fadeInSequence 1.5s infinite;
}

.explore-btn:hover .fade-in i:nth-child(2) {
  animation: fadeInSequence 1.5s infinite 0.5s;
}

.explore-btn:hover .fade-in i:nth-child(3) {
  animation: fadeInSequence 1.5s infinite 1s;
}

@keyframes fadeInSequence {
  0%,
  100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

#pin-container {
  position: relative;
}

.content {
  padding: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  font-size: 20px;
}

.footer .contact-icons {
  font-size: 60px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 4s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos-container {
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
}

.logos img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}
.logo:nth-child(5) {
  transition-delay: 800ms;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ----- icons ----- */
.contact-icons .fa-instagram {
  color: #c13584; /* Instagram gradient primary color */
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  ); /* Gradient background for added flair, optional */
  -webkit-background-clip: text;
  color: transparent;
}

.contact-icons .fa-twitter {
  color: #1da1f2;
}

.contact-icons .fa-envelope {
  color: #333; /* I've set it to a neutral dark gray. Adjust as needed */
}

.contact-icons .fa-facebook {
  color: #1877f2;
}

.contact-icons .fa-linkedin {
  color: #0077b5;
}

.contact-icons .fa-github {
  color: #f4efef;
}

.contact-icons .fa-discord {
  color: #7289da;
}

.contact-icons i:hover {
  opacity: 0.5; /* Slight opacity change on hover for interactive feel */
  cursor: pointer;
}
