@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&family=Poppins:wght@400;700;800&family=Roboto+Slab&display=swap");

:root {
  --blue-steel: #4b5556;
  --aqua: #5f7880;
  --tan: #caa78d;
  --sun-kissed: #bf7344;
  --cloud: #d3d5d4;
}

body {
  background-color: var(--cloud);
  color: var(--blue-steel);
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  user-select: none;
  cursor: url("../public/img/cursor.png"), auto;
}

h2 {
  color: var(--aqua);
  font-size: 60px;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.fullpage {
  cursor: url("../public/img/cursor.png"), auto;
}

/* NAVBAR */

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--aqua);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

ul.transition {
  list-style-type: none;
  display: flex;
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

ul.transition li {
  width: 20%;
  background: var(--sun-kissed);
  transform: scaleY(0);
}

/* DROPDOWN */

.dropbtn i {
  transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  display: inline-block;
}

.dropbtn i.rotate {
  transform: rotate(45deg);
}

.dropbtn {
  background-color: transparent;
  color: var(--cloud);
  padding: 16px;
  border: none;
  cursor: url("../public/img/cursor-click.png"), auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue-steel);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-out;
  z-index: 99;
}

.dropdown-animate {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-content a {
  color: var(--cloud);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s, opacity 0.2s;
  cursor: url("../public/img/cursor.png"), auto;
}

.dropbtn:hover {
  background-color: var(--blue-steel);
  cursor: url("../public/img/cursor-click.png"), auto;
}

.dropdown-content a:hover {
  background-color: var(--tan);
  color: var(--sun-kissed);
  cursor: url("../public/img/cursor-click.png"), auto;
}

.dropdown-content.show {
  display: block;
  cursor: url("../public/img/cursor-click.png"), auto;
}

.dropdown-content a.animate-link {
  opacity: 1;
  transform: translateX(0);
}

.fade-out-link {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s, opacity 0.2s;
}

/* indexHeading */

.indexHeading img {
  width: 600px;
  margin: 0;
}

/* SECTION */
section {
  display: grid;
  place-items: center;
  align-items: center;
  height: 100vh;
}

/* CONTACT ME */

.five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  gap: 15px;
}

.five h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.custom-input {
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  width: 40%;
  transition: all 0.5s;
}

.custom-input-message {
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: start;
  font-size: 20px;
  letter-spacing: 2px;
  width: 40%;
  height: 200px;
  transition: all 0.5s;
}

.custom-input,
.custom-input-message {
  width: 60%;
  border-color: var(--sun-kissed);
  color: var(--blue-steel);
}

/* HOVER */

.image-block {
  overflow: hidden;
  position: relative;
  margin-bottom: 10%;
  border-radius: 15px;
}

.image-thumb {
  width: 100%;
  height: auto;
}

.image-block .Send-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: top 0.5s;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-block .Send-btn {
  top: -40%;
  opacity: 1;
  transition: top 0.5s;
}

.image-block:hover .Send-btn {
  top: 40%;
}

.image-block::after,
.image-block::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.image-block::after {
  left: -50%;
  transition: 0.5s;
  border-radius: 12px 0 0 12px;
}

.image-block::before {
  right: -50%;
  transition: 0.5s;
  border-radius: 0 12px 12px 0;
}

.image-block:hover::after {
  left: 0;
}

.image-block:hover::before {
  right: 0;
}

/* HOVER END*/

.Send-btn {
  background: none;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 20px;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out,
    color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.Send-btn.loading::before {
  width: 100%;
}

.Send-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--tan);
  transform-origin: center;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.Send-btn:hover::before {
  transform: scale(1);
}

.exploreMore-btn {
  border-color: var(--blue-steel);
  color: var(--blue-steel);
}

.exploreMore-btn:hover {
  background-color: var(--tan);
  border-color: var(--sun-kissed);
  color: var(--blue-steel);
  cursor: url("../public/img/cursor-click.png"), auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Send-btn {
  border-color: var(--sun-kissed);
  color: var(--sun-kissed);
  background-color: rgba(214, 171, 128, 0.3);
}

.Send-btn:hover,
.ReadMore-btn button:hover {
  background-color: var(--tan);
  border-color: var(--sun-kissed);
  color: var(--blue-steel);
  cursor: url("../public/img/cursor-click.png"), auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

/* TOP */

#Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading img {
  width: 600px;
  height: 600px;
  margin: 0;
}

.explore-btn {
  margin-top: -100px;
}

.exploreMore-btn {
  background: none;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

/* OTHER THEMES */

.textcontainer-other img {
  width: 600px;
  border: 13px solid var(--blue-steel);
  border-radius: 10px;
}

.ReadMore-btn button {
  background: none;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 20px;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.fade-in {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.textcontainer img {
  width: 1000px;
}

.textcontainer {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}

.textcontainer p {
  text-align: center;
}

.textcontainer-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ABOUT ME */

#AboutMe {
  display: flex;
  flex-direction: row;
}

.contact-icons a {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.contact-icons {
  display: flex;
  flex-direction: column;
}

.contact-icons {
  font-size: 50px;
}

.contact-icons .fa-linkedin {
  color: var(--sun-kissed);
}

.contact-icons .fa-github {
  color: var(--sun-kissed);
}

.contact-icons i:hover {
  opacity: 0.5;
  cursor: url("../public/img/cursor-click.png"), auto;
}

.image-boarder {
  border: 2px solid var(--aqua);
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.image-boarder img {
  padding: 20px;
  width: 400px;
}

.text {
  line-height: 25px;
  word-spacing: 3.2px;
  letter-spacing: 0.8px;
  font-size: 20px;
}

/* FOOTER */

.backtoTop a {
  display: flex;
  flex-direction: column;
  color: var(--blue-steel);
  cursor: url("../public/img/cursor.png"), auto;
}

.backtoTop span {
  margin-top: 20px;
  cursor: url("../public/img/cursor.png"), auto;
}

.footer a {
  text-decoration: none;
  cursor: url("../public/img/cursor.png"), auto;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  cursor: url("../public/img/cursor.png"), auto;
}

.backtoTop a:hover,
.backtoTop span {
  cursor: url("../public/img/cursor-click.png"), auto;
}

/* TEXT ANIMATION */

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

/* SWUP */

#swup {
  opacity: 1;
  transition: opacity 0.5s;
}

/* SKILLS */

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aboutMe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.expert,
.intermediate,
.novice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.custom-table {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.item-expert,
.item-intermediate,
.item-novice {
  width: 200px;
  border: 3px solid var(--sun-kissed);
  background-color: var(--tan);
  text-align: center;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  color: var(--blue-steel);
  text-align: center;
  align-items: center;
}

.item-expert:hover,
.item-intermediate:hover,
.item-novice:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.lni {
  font-size: 40px;
  color: var(--blue-steel);
}

/* THEME 3 */

.videos-holder {
  position: relative;
}

.videos-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-video {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.wrapper .back-btn-cover {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.back-btn {
  border-color: var(--sun-kissed);
  color: var(--sun-kissed);
  background-color: rgba(214, 171, 128, 0.3);
  padding: 5px 15px 5px 15px;
  text-align: center;
}

.back-btn:hover {
  background-color: var(--tan);
  border-color: var(--sun-kissed);
  color: var(--blue-steel);
  cursor: url("../public/img/cursor-click.png"), auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

/* THEME 2 */

.city-box {
  height: 85vh;
  width: 100%;
  background-image: url("../public/img/img-Theme2/cave-test.png");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.logo {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.logo img {
  width: 700px;
  height: 700px;
}

.chracter-bio {
  display: none;
}

.character-data {
  height: 140vh;
  bottom: 80px;
  background-image: url("../public/img/img-Theme2/backgroundtop.png");
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  color: white;
  font-size: 40px;
}

.one-shot {
  position: relative;
  margin-right: 20px;
  width: 650px;
  height: auto;
  bottom: 280px;
}

.one-shot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.oneshot {
  z-index: 3;
}

.gun {
  z-index: 2;
}

.character-stats {
  margin-left: 20px;
  margin-top: 200px;
}

.weapon-data img {
  width: 700px;
}

.gun {
  position: relative;
}

.gun img {
  position: absolute;
  top: -150px;
  animation: hover 2s infinite ease-in-out;
}

.panel {
  position: relative;
  top: 300px;
}

.no-click {
  position: relative;
  top: 50px;
  animation: hover 2s infinite ease-in-out;
}

.gunData {
  display: none;
  position: absolute;
  top: 400px;
  left: 30px;
  transform: translateX(10px);
  background-color: #fff;
  border: 20px solid black;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;
}

.marker {
  position: absolute;
  width: 50px;
  animation: hover 2s infinite ease-in-out;
}

.marker-data {
  display: none;
  position: absolute;
  top: 100px;
  left: 200px;
  transform: translateY(10px);
  background-color: #fff;
  border: 20px solid black;
  border-radius: 25px;
  font-size: 18px;
  padding: 10px;
}

.btn-bio {
  font-size: 25px;
  padding: 10px 20px;
  border: 4px solid rgb(105, 68, 0);
  background-color: rgb(95, 55, 0);
  border-radius: 5px;
}

.btn-bio:hover {
  background-color: rgb(105, 68, 0);
  cursor: pointer;
}

.btn-stats {
  padding: 10px;
  font-size: 25px;
  border: 4px solid rgb(105, 68, 0);
  background-color: rgb(95, 55, 0);
  border-radius: 5px;
}

.btn-stats:hover {
  background-color: rgb(105, 68, 0);
  cursor: pointer;
}

.character-bio {
  background-color: #fff;
  color: black;
  border: 20px solid black;
  border-radius: 25px;
  font-size: 18px;
  padding: 10px;
}

.character-stats {
  background-color: #fff;
  color: black;
  border: 20px solid black;
  border-radius: 25px;
  font-size: 18px;
  padding: 10px;
}

.character-controls {
  text-align: center;
  margin-bottom: 10px;
}

.character-bio,
.character-stats {
  display: none;
}

.character-info.active {
  display: block;
}

.character-bio.active,
.character-stats.active {
  display: block;
}

.marker:hover + .marker-data {
  display: block;
}

#marker1 {
  top: 480px;
  left: 1370px;
}

#marker2 {
  top: 450px;
  left: 450px;
}

#marker3 {
  top: 400px;
  left: 900px;
}

#marker4 {
  top: 780px;
  left: 870px;
}

#marker5 {
  top: 160px;
  left: 900px;
}

#marker6 {
  top: 730px;
  left: 580px;
}

.gun:hover {
  display: block;
}

.map-data {
  background-image: url("../public/img/img-Theme2/incave.png");
  background-repeat: no-repeat;
  height: 150vh;
  position: relative;
  z-index: 2;
  bottom: 400px;
}

.weapon-data {
  position: relative;
  background-image: url("../public/img/img-Theme2/backgroundtop.png");
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  height: 150vh;
  bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidecharacters {
  position: relative;
  background-image: url("../public/img/img-Theme2/backgroundtop.png");
  background-repeat: no-repeat;
  width: 100%;
  z-index: 2;
  height: 150vh;
  bottom: 1000px;
  display: flex;
  justify-content: space-between;
}

.sidecharacters img {
  position: relative;
  width: 720px;
}

.sidecharacters .name {
  position: relative;
  color: white;
  top: 40px;
  font-size: 30px;
}

.side-character-1 img {
  left: 100px;
}

.side-character-1 .name {
  position: relative;
  top: 250px;
  left: 120px;
}

.side-character-2 img {
  bottom: 30px;
  right: 180px;
}

.side-character-2 .name {
  position: relative;
  top: 250px;
  right: 180px;
}

.character-1-data {
  position: relative;
  bottom: 500px;
  background-color: white;
  padding: 10px;
  border: 15px solid black;
  border-radius: 20px;
  font-size: 20px;
  width: 690px;
  left: 630px;
  z-index: 4;
  bottom: 1020px;
}

.character-2-data {
  position: relative;
  bottom: 500px;
  background-color: white;
  padding: 10px;
  border: 15px solid black;
  border-radius: 20px;
  font-size: 20px;
  width: 600px;
  right: 700px;
  bottom: 1020px;
}

@keyframes hover {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shakeAnimation {
  animation: shake 2s linear infinite;
}

@keyframes gunDrop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.gunDropped {
  animation: gunDrop 2s forwards;
}

.author-box {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 150vh;
  bottom: 470px;
  overflow: auto;
  white-space: nowrap;
  background-image: url("../public/img/img-Theme2/last.png");
  font-size: 40px;
}

.slider-container {
  overflow: auto;
  white-space: nowrap;
}

.slider-container .slide {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.me-hobby,
.me-game,
.me-about {
  display: flex;
  align-items: center;
  padding: 20px;
}

.me-game {
  margin-right: 20px;
}

.author-box img {
  width: 300px;
  padding: 200px;
}

.btn-prev,
.btn-next {
  width: 50px;
  height: 50px;
  background-color: red;
  border: none;
}
